@tailwind base;
@tailwind components;
@tailwind utilities;


div.logo .image {
  background: url('/img/logo.svg') 0px bottom no-repeat;
  background-size: contain;
}

/* Navigation */

#charbar {
  /* clip-path: url(../img/clip.svg#chararrow); */
  -webkit-clip-path: polygon(0 50%, 96% 50%, 96% 0, 97% 0, 97% 25%, 98% 25%, 98% 50%, 99% 50%, 99% 75%, 100% 75%, 100% 150%, 0% 150%);
}

#nav li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#nav li a {
  display: block;
  font-weight: bold;
  width: auto;
  float: left;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0 10px 0 22px;
  margin-left: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

